<!DOCTYPE html>
<html>
<head>
    <style>
        body{
            background-color: #000;
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #video-background {
            position: fixed;
            right: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
        }
        
        .content {
            position: relative;
            color: white;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.5); 
            width: 80%;
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
            line-height: 1.5;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
            border: 2px solid rgba(255, 255, 255, 0.8);
            border-radius: 10px;   
        }
        #btn{
            padding: 10px 20px; 
            font-size: 18px; 
            color: white; 
            background-color: crimson; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 150px;
            height: 45px;
        }
        #btn:hover {
            background-color: darkred; 
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
        }
        h1 {
            font-size: 48px;
            margin-bottom: 20px;
            text-shadow: 0px 0px 30px rgba(225, 225, 225, 1);
        }
        @media screen and (max-width: 600px) {
            .content {
                margin-top: auto;
                width: 80%;
                height: auto;
                font-size: 20px;
            }
            h1{
                font-size: 100px;
            }
            p{
                font-size: 30px;
            }
            #btn{
               font-size: 26px;
            }
        }
    </style>
</head>
<body>
    <video autoplay muted loop id="video-background">
        <source src="/images/back.mp4" type="video/mp4">
        <!-- Add additional source elements for different formats if needed -->
        Your browser does not support HTML5 video.
    </video>
    
    <div class="content">
        <!-- Your page content goes here -->
        <h1>HOLLOW</h1>
        <p>Step into the shadows, where whispers linger and the unseen watches. This cursed domain is not for the faint of heart—here, the past bleeds into the present, and every click may awaken something... unnatural.

            Do you dare venture further? Or will you flee before the darkness takes notice?
            (Proceed if you dare...)</p>
        
           <a href="/login"><button id="btn">
                PROCEED
            </button></a> 
        </form>
        
    </div>
</body>
</html>